@use "../abstracts/variables" as *;

.gallery-wrapper {
  background: $white;
}
.gallery {
  width: 100%;
  height: max(450px, 40vw);
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;

  &__container {
    height: 100%;
    width: 6000px;
    display: flex;
    gap: 2px;
  }

  &__img {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
