@font-face {
  font-family: "gt_americabold_italic";
  src: url("../../public/fonts/gt_america_bold_italic-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/gt_america_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gt_americabold";
  src: url("../../public/fonts/gt_america_bold-webfont.woff2") format("woff2"),
    url("../../public/fonts/gt_america_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gt_americaregular";
  src: url("../../public/fonts/gt_america_regular-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/gt_america_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "editorial_newregular";
  src: url("../../public/fonts/editorial_new_regular_400-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/editorial_new_regular_400-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "editorial_newultrabold";
  src: url("../../public/fonts/editorial_new_ultrabold_800-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/editorial_new_ultrabold_800-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "editorial_newultralight";
  src: url("../../public/fonts/editorial_new_ultralight_200-webfont.woff2")
      format("woff2"),
    url("../../public/fonts/editorial_new_ultralight_200-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
